.App {
  text-align: center;
  margin-top: 200px;
  margin-left: 200px;
}
/* .custom-tooltip{
  background-color:rgb(245,245,245 0.9);
} */
.recharts-cartesian-axis-tick-value{
font-size: 10px;
overflow: hidden;
}